html {
  scroll-behavior: smooth;
}

div#topPageElement.scroll-up-target {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

a#scrollUpLinkId.scroll-up-link {
  text-decoration: none !important;
  cursor: pointer;
}

a#scrollUpLinkId.scroll-up-link:hover {
  text-decoration: none !important;
}

div.scroll-up-navigator-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  text-align: center;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}
